<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="HiringConnectionString" connectionString="Data Source=webmap_webform_db.dev;Initial Catalog=HiringDb;Persist Security Info=True;User ID=sa;PWD=Password1$"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>